<form action='/shortURL' method='POST' style='display: inline;'>
  <div class='input-group'>
    <input class='form-control px-3' type='text' placeholder='URL' name='URL' />
    <button class='btn btn-success' type='submit'>Generate</button>
  </div>
</form>