<div class='container d-flex'><input
    class='form-control px-3'
    type='text'
    placeholder='url'
    name='url'
    id='copyFromInput'
    value=' {{web.shortURL}} '
  />
  <button class='btn btn-success' onclick='copyFromInput()'>Copy</button></div>