<div class='container d-flex'><input
    class='form-control px-3'
    type='text'
    placeholder='URL'
    name='URL'
    id='copyFromInput'
  />
  <button class='btn btn-success' onclick='copyFromInput()'>Copy</button></div>

<!-- <form style='display: inline;'>
  <div class='input-group'>
    <input
      class='form-control px-3'
      type='text'
      placeholder='URL'
      name='URL'
      id='copyFromInput'
    />
    <button class='btn btn-success' onclick='copyFromInput()'>Copy</button>
  </div>
</form> -->